h1
{
color: #004080;
font: bold 14px Arial;
}
.cart
{
width: auto;
position: absolute;
top: 20px;
right: 20px;
border: 2px solid #FF6A00;
border-radius: 5px;
padding: 10px;
font: normal 11px Arial;
}
.price
{
margin: 10px;
font: normal 16px Arial;
border-radius: 5px;
background: #F0F0F0;
text-align: center;
padding: 8px;
}